annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
arff==0.9
boto3==1.28.35
botocore==1.31.35
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
compress-pickle==2.1.0
contourpy==1.1.0
copulas==0.6.1
ctgan==0.5.1
cycler==0.11.0
dataclasses==0.6
deepecho==0.3.0.post1
ete3==3.1.3
exceptiongroup==1.1.3
Faker==9.9.1
fastapi==0.103.0
fonttools==4.42.1
graphviz==0.20.1
h11==0.14.0
humanfriendly==10.0
idna==3.4
importlib-resources==6.0.1
iniconfig==2.0.0
JayDeBeApi==1.2.3
jmespath==1.0.1
joblib==1.3.2
JPype1==1.4.1
kiwisolver==1.4.5
lark-parser==0.12.0
llvmlite==0.40.1
matplotlib==3.7.2
mpmath==1.3.0
networkx==2.6.3
numba==0.57.1
numpy==1.22.4
packaging==21.3
pandas==1.5.3
patsy==0.5.3
Pillow==10.0.0
pluggy==1.3.0
pomegranate==0.14.6
psutil==5.9.5
pydantic==2.3.0
pydantic_core==2.6.3
pydot==1.4.2
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pytest==7.4.0
python-dateutil==2.8.2
python-multipart==0.0.6
pyts==0.12.0
pytz==2023.3
PyYAML==5.4.1
rdt==0.6.4
requests==2.31.0
s3transfer==0.6.2
scikit-learn==1.3.0
scipy==1.7.3
sdgym==0.5.0
sdmetrics==0.4.1
sdv==0.14.1
six==1.16.0
sklearn==0.0.post7
sniffio==1.3.0
spflow==0.0.41
sqlparse==0.4.4
starlette==0.27.0
statsmodels==0.14.0
sympy==1.12
tabulate==0.8.10
text-unidecode==1.3
threadpoolctl==3.2.0
tomli==2.0.1
torch==1.13.1
torchdiffeq==0.2.3
torchvision==0.14.1
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==1.26.16
uvicorn==0.23.2
XlsxWriter==3.1.2
zipp==3.16.2
