annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
arff==0.9
boto3==1.28.52
botocore==1.31.52
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==2.2.1
compress-pickle==2.1.0
contourpy==1.1.1
copulas==0.7.0
ctgan==0.6.0
cycler==0.11.0
Cython==0.29.36
dataclasses==0.6
exceptiongroup==1.1.3
Faker==15.3.4
fastapi==0.103.1
fonttools==4.42.1
graphviz==0.17
greenlet==2.0.2
h11==0.14.0
humanfriendly==10.0
idna==3.4
importlib-resources==6.1.0
iniconfig==2.0.0
JayDeBeApi==1.2.3
jmespath==1.0.1
joblib==1.3.2
JPype1==1.4.1
kiwisolver==1.4.5
lark-parser==0.12.0
llvmlite==0.41.0
matplotlib==3.7.3
mpmath==1.3.0
networkx==2.6.3
numba==0.58.0
numpy==1.24.4
opacus==0.14.0
opendp==0.6.0
pac-synth==0.0.8
packaging==21.3
pandas==2.0.1
patsy==0.5.3
Pillow==10.0.1
pip-autoremove==0.10.0
pkgutil_resolve_name==1.3.10
plotly==5.18.0
pluggy==1.3.0
pomegranate==0.14.9
psutil==5.9.5
pydantic==2.4.0
pydantic_core==2.10.0
pydot==1.4.2
pyparsing==3.1.1
pytest==7.4.2
python-dateutil==2.8.2
python-multipart==0.0.6
pyts==0.12.0
pytz==2023.3.post1
PyYAML==6.0.1
rdt==1.2.1
requests==2.31.0
s3transfer==0.6.2
scikit-learn==1.3.1
scipy==1.10.1
sdmetrics==0.8.0
sdv==0.17.2
setuptools-scm==7.1.0
six==1.16.0
smartnoise-sql==1.0.1
smartnoise-synth==1.0.1
sniffio==1.3.0
spflow==0.0.41
SQLAlchemy==2.0.21
sqlparse==0.4.4
starlette==0.27.0
statsmodels==0.14.0
sympy==1.12
tabulate==0.8.10
tenacity==8.2.3
text-unidecode==1.3
threadpoolctl==3.2.0
tomli==2.0.1
torch==2.1.0
torchdiffeq==0.2.3
torchvision==0.14.1
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.16
uvicorn==0.23.2
XlsxWriter==3.1.4
zipp==3.17.0
